name: stac-mjx-env
channels:
  - conda-forge
  - anaconda
  - menpo
dependencies:
  - python=3.11
  - numpy<2.0
  - matplotlib
  - pandas
  - pip
  - black
  - glew
  - mesalib
  - mesa-libgl-cos6-x86_64
  - pytest
  - pytest-cov
  - pynwb
  - nwbwidgets
  - glfw3
  - ipykernel
  - pip
  - pip:
      - "--editable=.[dev]"

variables:             # Set MuJoCo environment variables
  MUJOCO_GL: osmesa
  PYOPENGL_PLATFORM: osmesa