matplotlib
ipykernel
mujoco
mujoco-mjx
brax
opencv-python
wandb
mediapy
dm_control
tqdm
numba
hydra-core
imageio
h5py
flax[all]
optax[all]
--find-links https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
jax[cuda12_pip]
imageio[pyav]
imageio[ffmpeg]