matplotlib
ipykernel
mujoco
mujoco-mjx
brax
wandb
mediapy
dm_control
tqdm
numba
hydra-core
imageio
h5py
flax[all]
optax[all]
--find-links https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
jax[cuda12_pip]
imageio[pyav]
imageio[ffmpeg]

# For headless gpu rendering setup
# sudo apt-get install libglfw3 libglew2.0 libgl1-mesa-glx libosmesa6 & conda install -c conda-forge glew & conda install -c conda-forge mesalib & conda install -c anaconda mesa-libgl-cos6-x86_64 & conda install -c menpo glfw3

# Reactivate with osmesa
# conda env config vars set MUJOCO_GL=osmesa PYOPENGL_PLATFORM=osmesa
# conda deactivate && conda activate base