fit_offsets_path: "demo_fit_offsets.h5"
ik_only_path: "demo_ik_only.h5"
data_path: "tests/data/test_rodent_mocap_1000_frames.mat"
continuous: False
n_fit_frames: 10
skip_fit_offsets: False
skip_ik_only: True
infer_qvels: True # Infer qvels from stac output
n_frames_per_clip: 250 # 1 if mocap is one session

mujoco:
  solver: "newton"
  iterations: 1
  ls_iterations: 4
