fit_path: "demo_fit.p"
ik_only_path: "demo_ik_only.p"
data_path: "tests/data/test_rodent_mocap_1000_frames.mat"

n_fit_frames: 10
skip_fit: False
skip_transform: True

mujoco:
  solver: "newton"
  iterations: 1
  ls_iterations: 4
