paths:
  model_config: "rodent"
  xml: "././models/rodent.xml"
  fit_path: "fit_sq.p"
  transform_path: "transform_sq.p"
  data_path: "./tests/data/test_pred_only_1000_frames.mat"

n_fit_frames: 1000
sampler: "first" # first, every, or random
first_start: 0 # starting frame for "first" sampler

# Should this be included?
test:
  skip_fit: False
  skip_transform: False

mujoco:
  solver: "newton"
  iterations: 1
  ls_iterations: 4
