# Continuous integration
name: CI

on:
  pull_request:
    types: [opened, reopened, synchronize]
    paths:
      - "stac_mjx/**"
      - "tests/**"
      - ".github/workflows/ci.yml"
      - "environment.yml"
  push:
    branches:
      - main
    paths:
      - "stac_mjx/**"
      - "tests/**"
      - ".github/workflows/ci.yml"
      - "environment.yml"

jobs:
  # Lint with black and docstring check with pydocstyle
  lint:
    name: Lint
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Set up uv
        uses: astral-sh/setup-uv@v3

      - name: Install dependencies (uv)
        run: |
          uv pip install --system --editable ".[dev]"

      - name: Run Black
        run: |
          black --check stac_mjx tests

      - name: Run pydocstyle
        run: |
          pydocstyle --convention=google stac_mjx/

  # Tests with pytest
  tests:
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"]
        python: ["3.11"]

    name: Tests (${{ matrix.os }}, Python ${{ matrix.python }})
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Conda
        uses: conda-incubator/setup-miniconda@v3
        with:
          miniforge-version: latest
          conda-solver: "libmamba"
          environment-file: environment.yml
          activate-environment: stac-mjx-env
          python-version: ${{ matrix.python }}

      - name: Set up uv
        shell: bash -l {0}
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          echo "$HOME/.cargo/bin" >> $GITHUB_PATH

      - name: Install package (uv)
        shell: bash -l {0}
        run: |
          uv pip install --system --editable ".[dev]"

      - name: Print environment info
        shell: bash -l {0}
        run: |
          which python
          conda info
          conda list
          pip freeze

      - name: Test with pytest (with coverage)
        shell: bash -l {0}
        run: |
          pytest --cov=stac_mjx --cov-report=xml --durations=-1 -W ignore::PendingDeprecationWarning tests/

      - name: Upload coverage
        uses: codecov/codecov-action@v4
        with:
          fail_ci_if_error: true
          verbose: false
          token: ${{ secrets.CODECOV_TOKEN }}

      # Smoke test
      - name: Smoke Test
        shell: bash -l {0}
        run: python run_stac.py stac=stac_synth_data model=synth_data
