name: CI

on:
  pull_request:
    types: [opened, reopened, synchronize]
    paths:
      - "stac_mjx/**"
      - "tests/**"
      - ".github/workflows/ci.yml"
      - "pyproject.toml"
  push:
    branches: [main]
    paths:
      - "stac_mjx/**"
      - "tests/**"
      - ".github/workflows/ci.yml"
      - "pyproject.toml"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: astral-sh/setup-uv@v3
        with:
          python-version: "3.11"
          enable-cache: true
          cache-dependency-glob: |
            pyproject.toml
            uv.toml

      - name: Install deps
        run: |
          uv venv --python 3.11
          uv pip install ".[dev]"

      - name: Black
        run: uv run black --check stac_mjx tests

      - name: Pydocstyle
        run: uv run pydocstyle --convention=google stac_mjx/

  tests:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4

      - uses: astral-sh/setup-uv@v3
        with:
          python-version: "3.11"
          enable-cache: true
          cache-dependency-glob: |
            pyproject.toml
            uv.toml

      - name: Install deps
        run: |
          uv venv --python 3.11
          uv pip install ".[dev]"

      - name: Pytest
        run: uv run pytest --cov=stac_mjx --cov-report=xml --durations=-1 -W ignore::PendingDeprecationWarning tests/

      - name: Upload coverage
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Smoke test
        run: uv run python run_stac.py stac=stac_synth_data model=synth_data
